h3 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.table > tbody > tr > th {
    border: none;
}

div.controlBar > div {
    text-align: center;
    vertical-align: middle;
}

div.controlBar {
    margin-top: 25px;
    margin-bottom: 25px;
}

div.controlBar .form-inline {
    margin-top: 12px;
}

th.icon {
    width: 50px;
}

table.transactionItems .remove {
    text-align: center;
}

table.transactionItems .remove i {
    color: black;
}

table.transactionItems .remove i:hover {
    color: dimgray;
}

div.checkout-component {
    position: relative;
    display: block;
    margin: 10px 0 10px 20px;
    font-size: 16px;
}

.fa-times-circle, .fa-check-circle {
    margin-right: 7px;
}

.fa-times-circle {
    color: red;
}

.fa-check-circle {
    color: green;
}

form.form-inline > div.form-group > label {
    margin-right: 5px;
}

.transactionItems img.categoryIcon {
    height: 35px;
}

.transactionItems td input[type=text] {
    width: auto;
}